@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "montserrat";
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: #191921;
  height: 100%;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(39, 100%, 81%);
}

.button-inactive {
  padding: 0.25rem 1.5rem;
  color: #fdd69b;
  background-color: transparent;
  border: 1px solid #fdd69b;
  border-radius: 10px;
}

.button-active {
  padding: 0.25rem 1.5rem;
  color: #181820;
  background-color: #fdd69b;
  border-radius: 10px;
}

button {
  transition: all 0.5s;
  outline: none;
}
